In [25]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("AER_credit_card_data.csv")

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   card         1319 non-null   object
 1   reports      1319 non-null   int64
 2   age          1319 non-null   float64
 3   income       1319 non-null   float64
 4   share        1319 non-null   float64
 5   expenditure  1319 non-null   float64
 6   owner        1319 non-null   object
 7   selfemp      1319 non-null   object
 8   dependents   1319 non-null   int64
 9   months       1319 non-null   int64
 10  majorcards   1319 non-null   int64
 11  active       1319 non-null   int64
dtypes: float64(4), int64(5), object(3)
memory usage: 123.8+ KB

In [12]:
categorical = [val for val in df.columns if df[val].dtype == "object"]

In [13]:
categorical

['card', 'owner', 'selfemp']

In [14]:
numerical = [val for val in df.columns if df[val].dtype != "object"]

In [15]:
numerical

['reports',
 'age',
 'income',
 'share',
 'expenditure',
 'dependents',
 'months',
 'majorcards',
 'active']

In [22]:
df["card"] = df["card"].map(lambda x: 1 if x == "yes" else 0)

In [23]:
df.head()

,card,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,1,0,37.66667,4.5200,0.033270,124.983300,yes,no,3,54,1,12
1,1,0,33.25000,2.4200,0.005217,9.854167,no,no,3,34,1,13
2,1,0,33.66667,4.5000,0.004156,15.000000,yes,no,4,58,1,5
3,1,0,30.50000,2.5400,0.065214,137.869200,no,no,0,25,1,7
4,1,0,32.16667,9.7867,0.067051,546.503300,yes,no,2,64,1,5