In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [5]:
# Version of NumPy
np.__version__

'1.22.3'

In [6]:
# Number of records in the dataset
df.shape

(11914, 16)

In [7]:
# The most popular car manufacturers (top-3) ? 
df.groupby("Make").count()["Popularity"].sort_values().tail()

Make
Dodge          626
Toyota         746
Volkswagen     809
Ford           881
Chevrolet     1123
Name: Popularity, dtype: int64

In [8]:
# Number of unique Audi car models
df.groupby("Make").nunique()["Model"]["Audi"]

34

In [9]:
# Number of columns with missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [10]:
# Median value of the "Engine Cylinders" column
df.describe()["Engine Cylinders"]["50%"]

6.0

In [11]:
# Most frequent value of the "Engine Cylinders" column
df["Engine Cylinders"].value_counts(normalize = True).idxmax()

4.0

In [12]:
# Fill the missing values with the most frequent value of the column
df["Engine Cylinders"].fillna(4.0, inplace = True)

In [13]:
# Median value after having filled the missing values 
df["Engine Cylinders"].median()

6.0

In [14]:
X = df[df["Make"] == "Lotus"][["Engine HP","Engine Cylinders"]].drop_duplicates().to_numpy()
X.shape

(9, 2)

In [15]:
# Transpose of X 
XT = X.T
XT.shape

(2, 9)

In [16]:
# Matrix multiplication between XT and X
XTX = np.dot(XT, X)
XTX.shape

(2, 2)

In [17]:
# Inverting XTX
iXTX = np.linalg.inv(XTX)
iXTX.shape

(2, 2)

In [18]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [19]:
w = np.dot(np.dot(iXTX, XT), y)
w.shape

(2,)

In [20]:
w[0]

4.594944810094551